<div ng-include="'app/navbar/_navbar.html'"></div>
<div>
  <div>
    <p>Theme Change</p>
  </div>
  <div>
    <button href="" class="answers" value="blue" ng-click="userSelectedAnswer(); playerSettings()">blue</button>
    <button href="" class="answers" value="green" ng-click="userSelectedAnswer(); playerSettings()">green</button>
    <button href="" class="answers" value="yellow" ng-click="userSelectedAnswer(); playerSettings()">yellow</button>
    <button href="" class="answers" value="red" ng-click="userSelectedAnswer(); playerSettings()">red</button>
  </div>

  <a href="" ng-click="backToExercise()">Back</a>
</div>
