<div>
  <div>
    <p>Please tell us what is your name?</p>
  </div>
  <input type="text" id="username" ng-model="user.name"></input>
  <div>
    <p>And what is your favorite color?</p>
  </div>
  <div>
    <button href="" class="answers" value="blue" ng-click="userSelectedAnswer()">blue</button>
    <button href="" class="answers" value="green" ng-click="userSelectedAnswer()">green</button>
    <button href="" class="answers" value="yellow" ng-click="userSelectedAnswer()">yellow</button>
    <button href="" class="answers" value="red" ng-click="userSelectedAnswer()">red</button>
  </div>

  <button ng-click="createPlayer()">Submit</button>
</div>
